body {
  margin: 0;

  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  border-radius: 0.4rem;
}

ul  {
  padding-left: 0;
  list-style-type: none;
}

li {
  list-style-type: none;
}

input {
  outline: none;
}

.marker  {
  font-family: 'Permanent Marker', cursive;
  border-bottom: 1px solid black;
}

.btn {
  border: 0;
  border-radius: 0.4rem;
  background: $c-blue;

  font-family: 'Permanent Marker', cursive;

}

.app__container {
  max-width: 65rem;
}

.divider {
  width: 20rem;
  margin: 2rem auto;


}
