.nav-bar  {
  background: $c-blue;
  color: $c-white;


  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 65rem;
    margin: 0;
  }

  &__title {
    margin: 0;
    font-family: 'Permanent Marker', cursive;
  }

  &__input {
    border: 0;
    border-radius: 0.2rem;
    height: 1rem;
  }
}
