.character__content  {
  max-width: 60%;
}

.comic__characters-parent {
  display: flex;
  flex-wrap: wrap;

}

.pic__parent  {
  position: relative;

}

.comic__characters-pic  {
  position: absolute;


}
