.character__content  {
  display: flex;
  flex-wrap: wrap;
}

.comic__characters-parent {


}

.pic__parent  {
  position: relative;

}

.comic__characters-pic  {
  position: absolute;
}

.parent  {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
